/* 
    Document   : style
    Created on : Oct 29, 2013, 8:41:20 PM
    Author     : TNT
    Description:
        Purpose of the stylesheet follows.
*/
/*@import url("bootstrap.min.css");*/
/*color-defaut #2fa4e7*/
/*body {
    background-image: 
}*/
body {
    /*background: url(/img/frontend/body_bg.png);*/
    margin-top: 8px;
    font-family: "Tahoma",Helvetica,Arial,sans-serif;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}
.container {
    background-color: #fff;
    height: 100%;
	margin: 0 auto;
}
.nav-tabs>li>a {
    text-decoration: none;
    color: #3b3b3b;
    background-color: #E8E8E8;
}

.navbar {
    margin-bottom: 2px;
    border-radius: 0px;
}
.navbar-nav > li > a {
    /*    padding-top: 0px;
    padding-bottom: 0px;*/
}
.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-indicators {
    left: 93%;
    bottom: 0px;
}

#content-middle {
    height: 41px;
}
#content-middle .panel-heading {
    height: 41px;
}
#content-middle .col-lg-8,#content-middle .col-lg-4 {
    margin-bottom: -18px;
    margin-top: -16px;
}
#content-bottom {
    height: auto;
}
#form-search input,#form-search button {
    height: 44px;

}
.column-right {
    margin-left: -10px;
}
#footer {
    margin-bottom: 2px;
    height: 75px;
    color: #FFF;
    position: relative;
    background:rgb(44, 146, 204);
}
#footer a {
	color: white;
	font-size: 14px;
}

#footer a:hover {
	color: white;
	font-size: 14px;
}
.footer-content {
    position: absolute;
    top: 50%;
    margin-top: 10px;

}
.navbar {
    min-height: 33px;
    margin-bottom: 1px;
}
.navbar-nav>li>a {
    padding-bottom: 7px;
    padding-top: 7px;
}
.carousel-caption {
    padding-top: 0px;
    padding-bottom: 0px;
    left: 2%;

}
.carousel-caption>a:hover {
    text-decoration: none;
}
.carousel-caption>a h4 {
    color: #FFF;
}
.carousel-inner img {
    width: 100%;
    max-height: 290px !important;
}
.thumbnail {
    padding: 0px;
}
.panel {
    border-radius: 0px;
}
.panel .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
ul.nav.nav-tabs li a {
    padding: 5px 15px;
    padding-left: 20px;
}
.carousel-caption {
    margin-left: 1px;
    background: rgba(51, 51, 51, 0.75);
    width: 100%;
    left: 0%;
    width: 99.7%;
    bottom: 0px;
    padding-left: 5px;
}
.carousel-caption a {
    padding: 5px 0 10px 0;
    color: #fff;
}
#search-form-navbar {
    padding-top: 2px;
    width: 200px;
    float: right;
    margin-right: 2px;
}
#search-form-navbar input {
    height: 30px;
}
.pagination .active>a, .pagination a:hover {
    color: #fff;
    background-color: #2fa4e7;
}
#portal-col-left img,#portal-col-right img{
    margin: 2px;
    padding: 1px;
    border: solid 1px #E1E1E1;
}
#search-examination-result img,#office-online img {
    height: 50px;
    width: 347px;
    margin: 2px;
    padding: 1px;
    border: solid 1px #E1E1E1;
}
.albums-preview img {
    width: 100%;
    height: 100%;
}
#main-wrap.container {
    /*margin: auto 70px;*/
    margin: 0 auto;
}

#right-sidebar {
    padding-left: 5px;
    padding-right: 0px;

}
.panel-primary>.panel-heading {
    background-image: -webkit-linear-gradient(rgb(84, 180, 235),rgb(47, 164, 231) 60%,rgb(29, 156, 229));
}
#search-bar {
    margin-bottom: 2px;
}
.panel-primary {
    border-color: rgb(202, 218, 230);
}
#content-top {
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
/*
#sub-navbar {
    padding: 5px;
    overflow-y: hidden;
}
#sub-navbar div {
    padding-top: 2px;
    display: inline;
    height: 40px;
    border: 1px solid rgb(218, 218, 218);
    margin-left: 10px;
}

#sub-navbar div:first-line {
    margin-left: 5px; 
}
#sub-navbar a {
    color: black;
    font-weight: bold;
}
.carousel-caption {
    display: none;
}
#sub-navbar a:hover {
    color:rgb(47, 164, 231);
}
*/

#banner img {
    width: 100%;
	//height: 180px;
}

#content {
    padding: 0 2px;
}
#portal-links {
    margin-bottom: 2px;
}
.nav > li > a {
    padding: 8px 11px;
}
#portal-links ul{
    list-style: none;
    padding-left: 5px;
    line-height: 33px;
}
#portal-links ul li a {
    font-weight: bold;
}
#right-sidebar .panel-primary .panel-heading, #portal-links .panel-heading {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.new-preview{
    /*min-height: 200px;*/
    padding: 2px 4px 2px 4px;
}
.thumbnail-new {
    width: 200px;
    max-height: 128px;
    padding-right: 5px;
    float: left;
}
.list-page-wrapper {
    padding: 5px;
}
.list-wrapper ul.list {
    list-style: disc;
}
.list-wrapper ul.list li {
    line-height: 30px;
    font-size: 17px;
}
.schedules-list-wrapper ul.schedules-list li .date-posted {
    font-style: italic;
    font-size: 14px;
    color: rgb(112, 112, 112);
} 
.list-wrapper ul.list li .date-posted {
    font-style: italic;
    font-size: 14px;
    color: rgb(112, 112, 112);
}
.list-page-wrapper .item-title {
    font-size: 30px;
    color: rgb(21, 122, 181);
}
.panel.statistics ul {
    padding-left: 15px;
}
#hit-counter {
    height: 15px;
    margin-bottom: 1px;
}
.user-online-counter {
    color: #000;
    font-weight: bold;
}
.user-online-counter:hover {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: -1px;
    // -webkit-border-radius: 0 6px 6px 6px;
    //-moz-border-radius: 0 6px 6px;
    //border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
   // border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    //-webkit-border-radius: 6px 0 6px 6px;
    //-moz-border-radius: 6px 0 6px 6px;
    //border-radius: 6px 0 6px 6px;
}